.turkey-map {
    text-align: center;
    margin-top: 60px;
    background-image: linear-gradient(to right, #ffc0cb, #ffe4e1);
}

    .turkey-map circle {
        cursor: pointer;
        transition: transform 0.2s ease;
    }

        .turkey-map circle:hover {
            filter: drop-shadow(0 0 5px #ff69b4);
            transform-origin: center;
        }


.memory-popup {
    margin-top: 20px;
    font-size: 18px;
    color: #ff1493;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
